{% extends 'base.html' %}
{% from '_macros.html' import movie_card %}

{% block title %}Movies for {{ user.name }} - MovieWeb App{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{{ user.name }}'s Movie List</h1>
</div>

{% if user_movie_relations %}
<div class="movie-grid">
    {% for relation in user_movie_relations %}
    {{ movie_card(relation.movie, user_specific_relation=relation) }}
    {% endfor %}
</div>
{% else %}
<div class="custom-alert">
    No movies found in your list.
</div>
{% endif %}

{# Modal HTML removed / Modal HTML entfernt #}
{% endblock %}

{% block scripts %}
<script>
// No modal JS logic here anymore / Keine Modal-JS-Logik mehr hier
</script>
{% endblock %}
